# IDE files
.idea/

# ENV files
.env

# Post-build files
poetry.lock
tgbot/locales/messages.pot
tgbot/locales/en/LC_MESSAGES/messages.mo
data/compiled_html_pages/
data/output.jpeg
data/statistics.csv
