@import "../utils.scss";

.day {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__header {
    @include heading-1;
    width: fit-content;
    padding: 16px 32px;
    color: $white;
    background: $primary;
    box-shadow: 16px 16px 0px $black-10;

    &--inactive {
      background: $black-50;
    }
  }

  &__address {
    // TODO: Address for entire day
  }

  &__events {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 0 0 32px;
  }
}
