@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSansPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@import "./reset.scss";
@import "./modules/header.scss";
@import "./modules/content.scss";
@import "./modules/day.scss";
@import "./modules/event.scss";
@import "./modules/subject.scss";
@import "./modules/annotation.scss";
@import "./modules/footer.scss";
